/* VARIAVEIS CORES */
:root {

    --primary-normal: #06121e;
    --primary-dark: #040f1a;
    --primary-light: #0c2135;
  
    --secondary-normal: #1a1f25;
  
    --black-normal: #232224;
    --black-light: #161617;
    --black-dark: #353436;
  
    --white-normal: #fff;
    --white-light: #edeaef;
    --white-dark: #fefbff;
  
    --red-normal: #d94140;
    --red-light: #b42b2b;
    --red-dark: #d34040;
  
  }